In [1]:
import pandas as pd

# Membuat DataFrame dari daftar data
data = {'Nama': ['Alice', 'Bob', 'Charlie'],
        'Usia': [25, 30, 35]}

df = pd.DataFrame(data)

# Menampilkan DataFrame
print(df)

      Nama  Usia
0    Alice    25
1      Bob    30
2  Charlie    35

In [3]:
# Membuat dictionary dengan key "name" yang berisi sebuah array (list) nama
my_dict = {
    'name': ['Alice', 'Bob', 'Charlie'],
    'age': [5,9,3]
    }

keys_to_check = ['name', 'age']
if all(key in my_dict for key in keys_to_check):
    print("Everything Ok")
else:
    print("Create New")


# Menampilkan dictionary sebelum penambahan
print("Sebelum penambahan:")
print(my_dict)

df = pd.DataFrame(my_dict)
df

Create New
Sebelum penambahan:
{'name': ['Alice', 'Bob', 'Charlie'], 'age': [5, 9, 3]}

      name  age
0    Alice    5
1      Bob    9
2  Charlie    3